APP_PATH=/wearablemgr/
DATABASE_URL=postgresql+asyncpg://wearable:wearable@localhost:5432/wearable_manager
ADMIN_EMAIL=

SECRET_KEY=
RESEARCHER_GOOGLE_CLIENT_ID=
RESEARCHER_GOOGLE_CLIENT_SECRET=

PARTICIPANT_GOOGLE_CLIENT_ID=
PARTICIPANT_GOOGLE_CLIENT_SECRET=
PARTICIPANT_GOOGLE_CLOUD_PROJECT_ID=
WEBHOOK_SECRET=

STUDY_CREDS_KEY=

AUTH_COOKIE_SECURE=true
POST_LOGIN_REDIRECT_URL=/
